**LESSER OF TWO EVENS:**

Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(num1, num2):
    if num1 % 2 == 0 and num2 % 2 == 0:
        return num1 if num1 < num2 else num2
    else:
        return num1 if num1 > num2 else num2

In [9]:
lesser_of_two_evens(2, 4)

2

In [10]:
lesser_of_two_evens(2, 5)

5

**ANIMAL CRACKERS:** 

Write a function takes a two-word string and returns **True** if both words begin with same letter

    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [23]:
def animal_crackers(str):
    str = str.split()
    return str[0][0].lower() == str[1][0].lower()

In [24]:
animal_crackers('Levelheaded Llama')

True

In [25]:
animal_crackers('Crazy Kangaroo')

False

**MAKES TWENTY:**

Given two integers, return **True** if the sum of the integers is 20 or if one of the integers is 20. If not, return **False**

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [27]:
def makes_twenty(num1, num2):
    return num1 + num2 == 20 or num1 == 20 or num2 == 20

In [28]:
makes_twenty(20, 10)

True

In [29]:
makes_twenty(12, 8)

True

In [30]:
makes_twenty(2,3)

False

**OLD MACDONALD:** 

Write a function that capitalizes the first and fourth letters of a name

    old_macdonald('macdonald') --> MacDonald

*Note: 'macdonald'.capitalize() returns 'Macdonald'*

In [49]:
def old_macdonald(str):
    new_str = ''
    
    if len(str) <= 4:
        return str[0].upper() + str[1:4]
    
    for i, letter in enumerate(str):
        if i == 0 or i == 3:
            new_str += letter.upper()
        else:
            new_str += letter
    
    return new_str

In [50]:
old_macdonald('macd')

'Macd'

In [51]:
old_macdonald('macdonald')

'MacDonald'

**MASTER YODA:**

Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [68]:
def master_yoda(str):
    new_list = str.split(' ')
    new_list.reverse()
    
    return ' '.join(new_list)

In [71]:
master_yoda('I am home')

'home am I'

In [72]:
master_yoda('We are ready')

'ready are We'

**ALMOST THERE:** 

Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [76]:
def almost_there(n):
    return abs(n - 100) <= 10 or abs(n - 200) <= 10

In [77]:
almost_there(90)

True

In [78]:
almost_there(104)

True

In [79]:
almost_there(150)

False

In [80]:
almost_there(209)

True

**FIND 33:**

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [81]:
def has_33(arr):
    if arr.count(3) < 2:
        return False
    
    answer = False
    
    for i, n in enumerate(arr):
        if n == 3 and i != 0:
            answer = arr[i] == 3 and arr[i-1] == 3
            
    return answer

In [82]:
has_33([1, 3, 3])

True

In [83]:
has_33([1, 3, 1, 3])

False

In [84]:
has_33([3, 1, 3])

False

In [85]:
has_33([2, 1, 9])

False

**PAPER DOLL:**
    
Given a string, return a string where for every character in the original there are three characters

    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [107]:
def paper_doll(string):
    new_str = ''
    
    for letter in string:
        new_str += (letter * 3)
   
    
    return new_str

In [108]:
paper_doll('Hello')

'HHHeeellllllooo'

In [109]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

***BLACKJACK:***

Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [110]:
def blackjack(x, y, z):
    sum = x + y + z
    
    if sum > 21 and (x == 11 or y == 11 or z == 11):
        sum -= 10
        
    if sum <= 21:
        return sum
    else:
        return 'BUST'

In [111]:
blackjack(5,6,7)

18

In [112]:
blackjack(9,9,9)

'BUST'

In [113]:
blackjack(9,9,11)

19

**SUMMER OF '69:** 

Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.


    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [11]:
def summer_69(arr):
    sum = 0
    
    if 6 in arr and 9 in arr:
        six_idx = arr.index(6)
        nine_idx = arr.index(9)
        excluded_idx_list = [x for x in range(six_idx, nine_idx + 1)]
        
        for i, x in enumerate(arr):
            if i not in excluded_idx_list:
                sum += x
    
    else:
        for x in arr:
            sum += x
            
    return sum

In [12]:
summer_69([1, 3, 5])

9

In [13]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [14]:
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

    spy_game([1,2,4,0,0,7,5]) --> True
    spy_game([1,0,2,4,0,5,7]) --> True
    spy_game([1,7,2,0,4,5,0]) --> False

In [41]:
def spy_game(arr):
    new_arr = [str(x) for x in arr if x == 0 or x == 7]
    string = ''.join(new_arr)
    
    return '007' in string

In [42]:
spy_game([1,2,4,0,0,7,5])

True

In [43]:
spy_game([1,0,2,4,0,5,7])

True

In [44]:
spy_game([1,7,2,0,4,5,0])

False

**COUNT PRIMES:** 

Write a function that returns the number of prime numbers that exist up to and including a given number

    count_primes(100) --> 25 

By convention, 0 and 1 are not prime.

In [48]:
def count_primes(num):
    primes = 0
    
    for n in range(2, num + 1):
        factors = 0
        for x in range(2, n):
            if n % x == 0:
                factors += 1
        
        if factors == 0:
            primes += 1
            
    
    return primes

In [49]:
count_primes(100)

25

In [50]:
count_primes(200)

46